@import url("https://fonts.googleapis.com/css?family=Gamja+Flower");
html {
  
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  font-family: Helvetica, Arial, Tahoma, sans-serif;
}
* {
  box-sizing: inherit;
}
body
{
  margin: 0px;
}
a{
  text-decoration: none;
}
