.content {
  display: flex;
}
.input-information {
  display: flex;
}
.input-information-left {
  padding-right: 24px;
}
.input-information-left-title {
  font-size: 27px;
  color: #2a9dcc;
}
.input-information-left-header span {
  font-size: 17px;
  color: #333;
  font-weight: 600;
}
.input-information-left-header a {
  font-size: 15px;
}
.input-information-email input,
.input-information-name input,
.input-information-phone input,
.input-information-address input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.94em 0.8em;
  border: 1px #d9d9d9 solid;
  height: 44px;
  background-color: #fff;
  color: #333;
  border-radius: 4px;
  font-size: 15px;
}
.input-information-email,
.input-information-name,
.input-information-phone,
.input-information-address {
  margin-bottom: 10px;
}
.product-tab-item {
  font-size: 15px;
  border: 1px solid #ebebeb;
  position: relative;
  min-width: 200px;
  height: 44px;
  padding: 0 12px;
  border-radius: 2px;
  display: flex;
  color: #333;
  align-items: center;
  justify-content: space-between;
}
.textarea-input {
  height: auto;
  padding: 13px 12px;
  font-size: 15px;
}
.input-information-right {
  padding-top: 30px;
}
.input-information-right-header p:nth-child(1) {
  color: #333;
  font-weight: 600;
  font-size: 20px;
}
.input-information-right-header-content {
  border: 1px solid #ebebeb;
  padding: 11px 10px;
  font-size: 13px;
}
.input-information-right-header-content span:nth-child(1) {
  margin-right: 60px;
}
.input-information-right-header-content span:nth-child(2) {
  margin-left: 60px;
}
.input-information-shipment {
  font-size: 13px;
}
.input-information-shipment p {
  color: #333;
  font-weight: 600;
  font-size: 20px;
}
.order-product {
  display: flex;
}
.product-infor span {
  font-size: 13px;
}
.order-product-price {
  margin-left: 40px;
  padding-top: 15px;
  font-size: 13px;
}
.order-product-discount input {
  border: 1px solid #ebebeb;
  width: 170px;
  height: 40px;
}
.order-product-discount button
{
  border: none;
  width: 100px;
  height:45px;
  border-radius: 10px;
  font-size: 13px;
  color: #fff;
  background-color:#357ebd;
}
.order-summary
{
  font-size: 16px;
}
.order-option
{
  font-size: 16px;
}
