<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web bán hàng</title>
    <link rel="stylesheet" href="web/css/index.css" />
    <link rel="stylesheet" href="web/css/base.css" />
    <link rel="stylesheet" href="web/css/responsive.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="./font/fontawesome-free-5.14.0/css/all.min.css" />
    <link rel="shortcut icon" type="image/png"
        href="https://bizweb.dktcdn.net/100/369/492/themes/741260/assets/logo.png?1594607980046" />
</head>

<body>
    <div class="app">
        <div class="slide-menu"></div>
        <div class="slide-menu-left">
            <div class="slide-menu-header">
                <img src="https://bizweb.dktcdn.net/100/369/492/themes/741260/assets/logo.png?1594607980046" alt="" />
            </div>
            <div class="slide-menu-main">
                <ul class="slide-menu-list">
                    <li class="slide-menu-list-item">TRANG CHỦ</li>

                    <li class="slide-menu-list-item">GIỚI THIỆU</li>
                    <li class="slide-menu-list-item">SẢN PHẨM</li>
                    <li class="slide-menu-list-item">TIN TỨC</li>
                    <li class="slide-menu-list-item">LIÊN HỆ</li>
                </ul>
            </div>
        </div>


        <header class="header">
            <div class="header-navbar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-7">
                            <div class="header-navbar-left">
                                <ul class="header-navbar-list">
                                    <li class="header-navbar-item">khanhgiolinh@gmail.com</li>
                                    <li class="header-navbar-item">/</li>
                                    <li class="header-navbar-item">0914170417</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="header-navbar-right">
                                <ul class="header-navbar-list">
                                    <li class="header-navbar-item">Đăng ký</li>
                                    <li class="header-navbar-item">/</li>
                                    <li class="header-navbar-item">Đăng nhập</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="navbar">
                    <div class="navbar-menu">
                        <i class="fas fa-align-justify"></i>
                    </div>
                    <div class="navbar-img">
                        <a href="index.html">
                            <img src="https://bizweb.dktcdn.net/100/369/492/themes/741260/assets/logo.png?1594607980046"
                                alt="" />
                        </a>
                    </div>

                    <div class="navbar-main hide-tablet hide-mobile">
                        <ul class="navbar-main-list">
                            <li class="navbar-main-item navbar-main-item-active">
                                <a href="#" class="navbar-main-link">TRANG CHỦ</a>
                            </li>
                            <li class="navbar-main-item">
                                <a href="#" class="navbar-main-link">GIỚI THIỆU</a>
                            </li>
                            <li class="navbar-main-item">
                                <a href="product.html" class="navbar-main-link">NIKE</a>
                            </li>
                            <li class="navbar-main-item">
                                <a href="product.html" class="navbar-main-link">ADIDAS</a>
                            </li>
                            <li class="navbar-main-item">
                                <a href="product.html" class="navbar-main-link">CONVERSE</a>
                            </li>
                            <li class="navbar-main-item">
                                <a href="product.html" class="navbar-main-link">VANS</a>
                            </li>
                            <li class="navbar-main-item">
                                <a href="product.html" class="navbar-main-link">OTHERS</a>
                            </li>
                            <li class="navbar-main-item">
                                <a href="#" class="navbar-main-link">TIN TỨC</a>
                            </li>
                            <li class="navbar-main-item">
                                <a href="#" class="navbar-main-link">LIÊN HỆ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-option">
                        <i class="fas fa-search navbar-option-item"></i>
                        <i class="fas fa-shopping-cart navbar-option-item"></i>
                    </div>
                </div>
            </div>
        </header>
        <div class="slider">
            <div id="demo" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://bizweb.dktcdn.net/100/369/492/themes/741260/assets/slider_1.jpg?1594607980046"
                            alt="Los Angeles" />
                    </div>
                    <div class="carousel-item">
                        <img src="https://bizweb.dktcdn.net/100/369/492/themes/741260/assets/slider_1.jpg?1594607980046"
                            alt="Chicago" />
                    </div>
                    <div class="carousel-item">
                        <img src="https://bizweb.dktcdn.net/100/369/492/themes/741260/assets/slider_1.jpg?1594607980046"
                            alt="New York" />
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
        <div class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="banner-item">
                            <img class="banner-img"
                                src="http://bizweb.dktcdn.net/thumb/large/100/369/492/themes/741260/assets/banner_1.jpg?1594607980046"
                                alt="" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="banner-item">
                            <img class="banner-img"
                                src="https://bizweb.dktcdn.net/thumb/large/100/369/492/themes/741260/assets/banner_2.jpg?1594607980046"
                                alt="" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="banner-item">
                            <img class="banner-img"
                                src="https://bizweb.dktcdn.net/thumb/large/100/369/492/themes/741260/assets/banner_3.jpg?1594607980046"
                                alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-product">
            <div class="container">
                <h2 class="new-product-title">HÀNG MỚI VỀ</h2>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="new-product-img">
                        <img src="http://bizweb.dktcdn.net/thumb/large/100/369/492/products/hbu97l3vnaf68lb9mpnz.jpg?v=1572233341000"
                            alt="" />
                    </div>
                    <div class="new-product-button">
                        <button>MUA NGAY</button>
                    </div>
                    <div class="new-product-infor">
                        <h3>Adidas NEO</h3>
                        <span>2,000,000 đ</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="new-product-img">
                        <img src="http://bizweb.dktcdn.net/thumb/large/100/369/492/products/apuwyfecodzh2q1nkpa1.jpg?v=1572234111000"
                            alt="" />
                    </div>
                    <div class="new-product-button">
                        <button>MUA NGAY</button>
                    </div>
                    <div class="new-product-infor">
                        <h3>Adidas NEO</h3>
                        <span>2,000,000 đ</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 hide-mobile">
                    <div class="new-product-img">
                        <img src="http://bizweb.dktcdn.net/thumb/large/100/369/492/products/mett1dtocrrrd3fheor1.jpg?v=1572235498000"
                            alt="" />
                    </div>
                    <div class="new-product-button">
                        <button>MUA NGAY</button>
                    </div>
                    <div class="new-product-infor">
                        <h3>Adidas NEO</h3>
                        <span>2,000,000 đ</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 hide-tablet hide-mobile">
                    <div class="new-product-img">
                        <img src="http://bizweb.dktcdn.net/thumb/large/100/369/492/products/ixhmiwewoydk8d5vq9pc.jpg?v=1572235147000"
                            alt="" />
                    </div>
                    <div class="new-product-button">
                        <button>MUA NGAY</button>
                    </div>
                    <div class="new-product-infor">
                        <h3>Adidas NEO</h3>
                        <span>2,000,000 đ</span>
                    </div>
                </div>
                <div class="col-lg-2 hide-tablet hide-mobile">
                    <div class="new-product-img">
                        <img src="http://bizweb.dktcdn.net/thumb/large/100/369/492/products/kp2igvwpe3fcp5aflh6y.jpg?v=1572235245000"
                            alt="" />
                    </div>
                    <div class="new-product-button">
                        <button>MUA NGAY</button>
                    </div>
                    <div class="new-product-infor">
                        <h3>Adidas NEO</h3>
                        <span>2,000,000 đ</span>
                    </div>
                </div>
                <div class="col-lg-2 hide-tablet hide-mobile">
                    <div class="new-product-img">
                        <img src="http://bizweb.dktcdn.net/thumb/large/100/369/492/products/ik0kvc7uo6rqnwsy9vbq.jpg?v=1572235410000"
                            alt="" />
                    </div>
                    <div class="new-product-button">
                        <button>MUA NGAY</button>
                    </div>
                    <div class="new-product-infor">
                        <h3>Adidas NEO</h3>
                        <span>2,000,000 đ</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="banner-two-img">
                            <img src="https://bizweb.dktcdn.net/thumb/grande/100/369/492/themes/741260/assets/banner_1_a.jpg?1594607980046"
                                alt="" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="banner-two-img">
                            <img src="https://bizweb.dktcdn.net/thumb/grande/100/369/492/themes/741260/assets/banner_2_a.jpg?1594607980046"
                                alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-product">
            <div class="container">
                <h2 class="new-product-title">HÀNG BÁN CHẠY</h2>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="new-product-img">
                        <img src="http://bizweb.dktcdn.net/thumb/large/100/369/492/products/hbu97l3vnaf68lb9mpnz.jpg?v=1572233341000"
                            alt="" />
                    </div>
                    <div class="new-product-button">
                        <button>MUA NGAY</button>
                    </div>
                    <div class="new-product-infor">
                        <h3>Adidas NEO</h3>
                        <span>2,000,000 đ</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="new-product-img">
                        <img src="http://bizweb.dktcdn.net/thumb/large/100/369/492/products/apuwyfecodzh2q1nkpa1.jpg?v=1572234111000"
                            alt="" />
                    </div>
                    <div class="new-product-button">
                        <button>MUA NGAY</button>
                    </div>
                    <div class="new-product-infor">
                        <h3>Adidas NEO</h3>
                        <span>2,000,000 đ</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 hide-mobile">
                    <div class="new-product-img">
                        <img src="http://bizweb.dktcdn.net/thumb/large/100/369/492/products/mett1dtocrrrd3fheor1.jpg?v=1572235498000"
                            alt="" />
                    </div>
                    <div class="new-product-button">
                        <button>MUA NGAY</button>
                    </div>
                    <div class="new-product-infor">
                        <h3>Adidas NEO</h3>
                        <span>2,000,000 đ</span>
                    </div>
                </div>
                <div class="col-lg-2 hide-tablet hide-mobile">
                    <div class="new-product-img">
                        <img src="http://bizweb.dktcdn.net/thumb/large/100/369/492/products/ixhmiwewoydk8d5vq9pc.jpg?v=1572235147000"
                            alt="" />
                    </div>
                    <div class="new-product-button">
                        <button>MUA NGAY</button>
                    </div>
                    <div class="new-product-infor">
                        <h3>Adidas NEO</h3>
                        <span>2,000,000 đ</span>
                    </div>
                </div>
                <div class="col-lg-2 hide-tablet hide-mobile">
                    <div class="new-product-img">
                        <img src="http://bizweb.dktcdn.net/thumb/large/100/369/492/products/kp2igvwpe3fcp5aflh6y.jpg?v=1572235245000"
                            alt="" />
                    </div>
                    <div class="new-product-button">
                        <button>MUA NGAY</button>
                    </div>
                    <div class="new-product-infor">
                        <h3>Adidas NEO</h3>
                        <span>2,000,000 đ</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 hide-tablet hide-mobile">
                    <div class="new-product-img">
                        <img src="http://bizweb.dktcdn.net/thumb/large/100/369/492/products/ik0kvc7uo6rqnwsy9vbq.jpg?v=1572235410000"
                            alt="" />
                    </div>
                    <div class="new-product-button">
                        <button>MUA NGAY</button>
                    </div>
                    <div class="new-product-infor">
                        <h3>Adidas NEO</h3>
                        <span>2,000,000 đ</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="hotline">
            <div class="hotline-center">
                <div class="hotline-body">
                    <h2>Hotline</h2>
                    <a href="">0914170417</a>
                    <p>
                        Chúng tôi cam kết 100% các sản phẩm giày dép của chúng tôi nguồn
                        gốc xuất xứ nhập khẩu chính hãng 100%
                    </p>
                </div>
            </div>
        </div>
        <div class="new">
            <div class="container">
                <h3 class="new-title">TIN THỜI TRANG</h3>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="new-img">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/369/492/articles/photo-1514989940723-e8e51635b782.jpg?v=1572232563380"
                                alt="" />
                        </div>
                        <div class="new-infor">
                            <i class="far fa-calendar"></i>
                            <b class="new-infor-date">28/10/2019</b>
                            <span>Đăng bởi: Rinn</span>
                        </div>
                        <div class="new-content">
                            <h3>
                                <a href="">Hướng dẫn cách làm trắng đế giày bị ố vàng chuẩn chỉ</a>
                            </h3>
                            <div class="new-description">
                                <p>
                                    Adidas là một trong những hàng thời trang sneaker lớn nhất
                                    hiện nay của thế giới ...
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 hide-mobile">
                        <div class="new-img">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/369/492/articles/photo-1514989940723-e8e51635b782.jpg?v=1572232563380"
                                alt="" />
                        </div>
                        <div class="new-infor">
                            <i class="far fa-calendar"></i>
                            <b class="new-infor-date">28/10/2019</b>
                            <span>Đăng bởi: Rinn</span>
                        </div>
                        <div class="new-content">
                            <h3>
                                <a href="">Hướng dẫn cách làm trắng đế giày bị ố vàng chuẩn chỉ</a>
                            </h3>
                            <div class="new-description">
                                <p>
                                    Adidas là một trong những hàng thời trang sneaker lớn nhất
                                    hiện nay của thế giới ...
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 hide-tablet hide-mobile">
                        <div class="new-img">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/369/492/articles/photo-1514989940723-e8e51635b782.jpg?v=1572232563380"
                                alt="" />
                        </div>
                        <div class="new-infor">
                            <i class="far fa-calendar"></i>
                            <b class="new-infor-date">28/10/2019</b>
                            <span>Đăng bởi: Rinn</span>
                        </div>
                        <div class="new-content">
                            <h3>
                                <a href="">Hướng dẫn cách làm trắng đế giày bị ố vàng chuẩn chỉ</a>
                            </h3>
                            <div class="new-description">
                                <p>
                                    Adidas là một trong những hàng thời trang sneaker lớn nhất
                                    hiện nay của thế giới ...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="new-letter">
                <div class="new-letter-body">
                    <div class="new-letter-heading">
                        <h3 class="new-letter-title">NHẬP EMAIL</h3>
                        <p class="new-letter-description">
                            Để nhận thông tin khuyến mãi của chúng tôi
                        </p>
                    </div>

                    <form action="" class="new-letter-form">
                        <input type="email" class="new-letter-input" id="usr" placeholder="Nhập email của bạn" />

                        <button type="submit" class="new-letter-btn">Gửi ngay</button>
                    </form>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-head">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="footer-head-title">
                                <h4>Hệ thống cửa hàng</h4>
                            </div>
                            <div class="footer-head-address">
                                <div class="footer-head-address-shopname">
                                    <h4>Shoes Gio Linh</h4>
                                </div>
                                <div class="footer-head-address-live">
                                    <p>Địa chỉ: 25 Kim Đồng - TT Gio Linh - Quảng Trị</p>
                                    <p>Hotline: 0914170417</p>
                                </div>
                            </div>
                            <div class="footer-head-address">
                                <div class="footer-head-address-shopname">
                                    <h4>Shoes Gio Linh</h4>
                                </div>
                                <div class="footer-head-address-live">
                                    <p>Địa chỉ: 25 Kim Đồng - TT Gio Linh - Quảng Trị</p>
                                    <p>Hotline: 0914170417</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="footer-head-title">
                                <h4>Về chúng tôi</h4>
                            </div>

                            <ul class="footer-head-list">
                                <li><a href="#">Trang chủ</a></li>
                                <li><a href="#">Giới thiệu</a></li>
                                <li><a href="#">Sản phẩm</a></li>
                                <li><a href="#">Tin tức</a></li>
                                <li><a href="#">Liên hệ</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="footer-head-title">
                                <h4>Chính sách</h4>
                            </div>

                            <ul class="footer-head-list">
                                <li><a href="#">Trang chủ</a></li>
                                <li><a href="#">Giới thiệu</a></li>
                                <li><a href="#">Sản phẩm</a></li>
                                <li><a href="#">Tin tức</a></li>
                                <li><a href="#">Liên hệ</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="footer-head-title">
                                <h4>Đăng ký</h4>
                            </div>
                            <div class="footer-head-register">
                                <img src="https://bizweb.dktcdn.net/100/369/492/themes/741260/assets/bocongthuong.png?1594607980046"
                                    alt="" />
                            </div>
                            <div class="footer-header-payment">
                                <h4>Thanh toán</h4>
                                <ul class="footer-header-payment-logo">
                                    <li class="footer-header-payment-logo-item">
                                        <a href=""><img class="footer-header-payment-logo-img"
                                                src="https://lh3.googleusercontent.com/F8cUV5oOLjCTMSvSRymK1154MwKalnvkepN4xGrfWBC_tcXvNTq_sEStiwCYV61lRdI"
                                                alt="" /></a>
                                    </li>
                                    <li class="footer-header-payment-logo-item">
                                        <a href=""><img class="footer-header-payment-logo-img"
                                                src="https://www.lowyat.net/wp-content/uploads/2018/07/MasterCard_logo.jpg"
                                                alt="" /></a>
                                    </li>
                                    <li class="footer-header-payment-logo-item">
                                        <a href=""><img class="footer-header-payment-logo-img"
                                                src="https://usa.visa.com/dam/VCOM/regional/lac/ENG/Default/Partner%20With%20Us/Payment%20Technology/visapos/full-color-800x450.jpg"
                                                alt="" /></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-last">
                <p>Bản quyền thuộc về Rinn| 2020</p>
            </div>
        </footer>
        <a href="#" class="scrollToTop"><i class="fas fa-arrow-up"></i></a>
    </div>
</body>

</html>