<div class="contact">
            <div class="new-letter">
                <div class="new-letter-body">
                    <div class="new-letter-heading">
                        <h3 class="new-letter-title">NHẬP EMAIL</h3>
                        <p class="new-letter-description">
                            Để nhận thông tin khuyến mãi của chúng tôi
                        </p>
                    </div>

                    <form action="" class="new-letter-form">
                        <input type="email" class="new-letter-input" id="usr" placeholder="Nhập email của bạn" />

                        <button type="submit" class="new-letter-btn">Gửi ngay</button>
                    </form>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-head">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="footer-head-title">
                                <h4>Hệ thống cửa hàng</h4>
                            </div>
                            <div class="footer-head-address">
                                <div class="footer-head-address-shopname">
                                    <h4>Shoes Gio Linh</h4>
                                </div>
                                <div class="footer-head-address-live">
                                    <p>Địa chỉ: 25 Kim Đồng - TT Gio Linh - Quảng Trị</p>
                                    <p>Hotline: 0914170417</p>
                                </div>
                            </div>
                            <div class="footer-head-address">
                                <div class="footer-head-address-shopname">
                                    <h4>Shoes Gio Linh</h4>
                                </div>
                                <div class="footer-head-address-live">
                                    <p>Địa chỉ: 25 Kim Đồng - TT Gio Linh - Quảng Trị</p>
                                    <p>Hotline: 0914170417</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="footer-head-title">
                                <h4>Về chúng tôi</h4>
                            </div>

                            <ul class="footer-head-list">
                                <li><a href="#">Trang chủ</a></li>
                                <li><a href="#">Giới thiệu</a></li>
                                <li><a href="#">Sản phẩm</a></li>
                                <li><a href="#">Tin tức</a></li>
                                <li><a href="#">Liên hệ</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="footer-head-title">
                                <h4>Chính sách</h4>
                            </div>

                            <ul class="footer-head-list">
                                <li><a href="#">Trang chủ</a></li>
                                <li><a href="#">Giới thiệu</a></li>
                                <li><a href="#">Sản phẩm</a></li>
                                <li><a href="#">Tin tức</a></li>
                                <li><a href="#">Liên hệ</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="footer-head-title">
                                <h4>Đăng ký</h4>
                            </div>
                            <div class="footer-head-register">
                                <img src="https://bizweb.dktcdn.net/100/369/492/themes/741260/assets/bocongthuong.png?1594607980046"
                                    alt="" />
                            </div>
                            <div class="footer-header-payment">
                                <h4>Thanh toán</h4>
                                <ul class="footer-header-payment-logo">
                                    <li class="footer-header-payment-logo-item">
                                        <a href=""><img class="footer-header-payment-logo-img"
                                                src="https://lh3.googleusercontent.com/F8cUV5oOLjCTMSvSRymK1154MwKalnvkepN4xGrfWBC_tcXvNTq_sEStiwCYV61lRdI"
                                                alt="" /></a>
                                    </li>
                                    <li class="footer-header-payment-logo-item">
                                        <a href=""><img class="footer-header-payment-logo-img"
                                                src="https://www.lowyat.net/wp-content/uploads/2018/07/MasterCard_logo.jpg"
                                                alt="" /></a>
                                    </li>
                                    <li class="footer-header-payment-logo-item">
                                        <a href=""><img class="footer-header-payment-logo-img"
                                                src="https://usa.visa.com/dam/VCOM/regional/lac/ENG/Default/Partner%20With%20Us/Payment%20Technology/visapos/full-color-800x450.jpg"
                                                alt="" /></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-last">
                <p>Bản quyền thuộc về Rinn| 2020</p>
            </div>
        </footer>
        <a href="#" class="scrollToTop"><i class="fas fa-arrow-up"></i></a>