<div class="slide-menu"></div>
{{!-- <div class="slide-menu-left">
    <div class="slide-menu-header">
        <img src="https://bizweb.dktcdn.net/100/369/492/themes/741260/assets/logo.png?1594607980046" alt="" />
    </div>
    <div class="slide-menu-main">
        <ul class="slide-menu-list">
            <li class="slide-menu-list-item">TRANG CHỦ</li>

            <li class="slide-menu-list-item">GIỚI THIỆU</li>
            <li class="slide-menu-list-item">SẢN PHẨM</li>
            <li class="slide-menu-list-item">TIN TỨC</li>
            <li class="slide-menu-list-item">LIÊN HỆ</li>
        </ul>
    </div>
</div> --}}


<header class="header">
    <div class="header-navbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="header-navbar-left">
                        <ul class="header-navbar-list">
                            <li class="header-navbar-item">khanhgiolinh@gmail.com</li>
                            <li class="header-navbar-item">/</li>
                            <li class="header-navbar-item">0914170417</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="header-navbar-right">

                        <ul class="header-navbar-list">
                            <li class="header-navbar-item"><a href="">Đăng ký</a></li>

                            <li class="header-navbar-item"><a href="/login-form">Đăng nhập</a></li>
                            <li class="header-navbar-item"><a href="/logout">Đăng xuất</a></li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="navbar">
            <div class="navbar-menu">
                <i class="fas fa-align-justify"></i>
            </div>
            <div class="navbar-img">
                <a href="/">
                    <img src="https://bizweb.dktcdn.net/100/369/492/themes/741260/assets/logo.png?1594607980046"
                        alt="" />
                </a>
            </div>

            <div class="navbar-main hide-tablet hide-mobile">
                <ul class="navbar-main-list">
                    <li class="navbar-main-item navbar-main-item-active">
                        <a href="#" class="navbar-main-link">TRANG CHỦ</a>
                    </li>
                    <li class="navbar-main-item">
                        <a href="#" class="navbar-main-link">GIỚI THIỆU</a>
                    </li>
                    <li class="navbar-main-item dropdown ">
                        <a href="#" class="navbar-main-link">SẢN PHẨM</a>
                        <div class="dropdown-content">
                            <a href="Nike" class="dropdown-content-item" >NIKE</a><br>
                            <a href="Adidas" class="dropdown-content-item" c>ADIDAS</a><br>
                            <a href="Converse" class="dropdown-content-item">CONVERSE</a><br>
                            <a href="Vans" class="dropdown-content-item" >VANS</a><br>
                            <a href="Others" class="dropdown-content-item">OTHERS</a>
                        </div>
                    </li>
                    {{!-- <li class="navbar-main-item">
                        <a href="Nike" class="navbar-main-link">NIKE</a>
                    </li>
                    <li class="navbar-main-item">
                        
                    </li>
                    <li class="navbar-main-item">
                        
                    </li>
                    <li class="navbar-main-item">
                        
                    </li>
                    <li class="navbar-main-item">
                        
                    </li> --}}
                    <li class="navbar-main-item">
                        <a href="#" class="navbar-main-link">TIN TỨC</a>
                    </li>
                    <li class="navbar-main-item">
                        <a href="#" class="navbar-main-link">LIÊN HỆ</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-option">
                <a href=""><i class="fas fa-search navbar-option-item"></i></a>
                <a href="/cart"><i class="fas fa-shopping-cart navbar-option-item"></i></a>

            </div>
        </div>
    </div>
</header>